*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.nav-logo{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 250px;
    background-image: url("bookflix logo.jpeg");
    background-size: cover;
}
.nav-books {
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.nav-books a{
    font-size: 1rem;
    color: white;
    border: none;
    text-decoration: none;
}
.nav-search{
    justify-content: space-evenly;
    display: flex;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #ed0914;
}
.search-input{
    width: 100%;
    height: 23px;
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 4px;
}
.search-input::placeholder{
    font-size: 0.9rem;
    color: #ffffff;
    opacity: 0.75;
}
#search-icon{
    color: #0f1111;
    background-color: #ed0914;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
}
.nav-sign{
    display: flex;
    color: white;
    background-color: #ed0914;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sign-btn{
    padding: 8px 10px;
    color: white;
    background-color: #ed0914;
    display: flex;
    font-weight: bold;
    border: none;
}
.nav-sign a{
    text-decoration: none;
}
.nav-cart{
    display: flex;
    color: white;
    background-color: #ed0914;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cart-btn{
    padding: 7px 4px;
    color: white;
    background-color: #ed0914;
    display: flex;
    font-weight: bold;
    border: none;
    font-size: 0.95rem;
}
#cart-icon{
    padding: 5px;
    background-color: #ed0914;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.25rem;
}


/* body */
.main{
    height:600px;
    width: 100%;
    background-image: url("lib_books.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw;
}
.box{
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-color: #000000;
    top: 0;
    position: absolute;
}
/* footer */
footer{
    background-color: #000000;
    color: #ffffff;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.address{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.address :first-child{
    font-weight:bolder;
    font-size: 20px;
    gap: 50px;
}

.links a{
    font-size: 0.9rem;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
}
.end-logo{
    background-image: url("bookflix logo.jpeg");
    background-size: cover;
    margin-top: 15px;
    height: 70px;
    width: 230px;
   
}