body{
  background:#111;
  color:white;
  font-family:Arial, sans-serif;
  padding:20px;
}

.checkout-box{
  max-width:600px;
  margin:auto;
  background:#1c1c1c;
  padding:20px;
  border-radius:8px;
}

.checkout-box h2{
  margin-bottom:15px;
}

.checkout-box p{
  margin:6px 0;
}

button{
  margin-top:20px;
  width:100%;
  padding:12px;
  background:#e50914;
  border:none;
  color:white;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
}
