.offline page{
    position: fixed;
    inset: 0;
    background: white;
    display: none;
}
#load{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    border: 20px solid #000000;
    border-top: 20px solid #ed0914;
    animation: loading 3s linear 0s infinite normal;
    border-style: solid;
}

#outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;

}

@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
